/* GENERAL ------------------------------------------ */
html {
  font-family: "Khand", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/1662277/pexels-photo-1662277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260),
    linear-gradient(rgb(54, 48, 55), rgb(118, 105, 89));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: peachpuff;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 2px solid peachpuff;
  width: 300px;
  padding: 10px;
  text-shadow: 3px 3px black;
  text-transform: uppercase;
}

#bookTileContainer {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: auto;
  padding-bottom: 200px;
  /* border: 1px red solid; */
}

/* TILES --------------------------------------------- */
.tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  /* gap: 30px; */
  border: 1px rgb(152, 97, 67) solid;
  margin: 10px;
  padding: 10px 10px 0 0;
  background-color: peachpuff;
  color: #333;
  box-shadow: 3px 3px black;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.author {
  font-style: italic;
  padding-top: 10px;
}

/* BUTTONS ------------------------------------------- */
.buttonsDiv {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.button {
  font-family: "Khand", sans-serif;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: peachpuff;
  box-shadow: 3px 3px black;
}

#addNewBookButton {
  width: 200px;
  text-align: center;
}

.removeBtn {
  background-color: coral;
  font-size: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
  box-shadow: none;
}

.statusBtn {
  background-color: rgb(171, 130, 105);
  border-radius: 10px;
  text-align: center;
  box-shadow: none;
  /* border: 1px solid #333; */
}

.button:hover {
  background-color: rgb(58, 31, 31);
  color: peachpuff;
}

.button:active {
  background-color: rgb(58, 31, 31);
  /* box-shadow: 5px 5px rgb(0, 108, 97); */
  transform: translateY(4px);
}

/* FORM ----------------------------------------------- */
#addNewBookForm {
  /* border: 1px magenta solid; */
  background-color: rgba(19, 13, 12, 0.514);
  border-radius: 8px;
  padding: 15px 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-shadow: 1px 1px black;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

input {
  width: 200px;
  border: 1px #333 solid;
  background-color: peachpuff;
  color: #333;
}

.inputDiv {
  display: flex;
  justify-content: space-between;
  width: 320px;
  /* border: 1px solid black; */
}

/* FOOTER --------------------------------------------- */
footer {
  font-size: 14px;
  background-color: rgba(24, 7, 7, 0.639);
  width: 100%;
  color: peachpuff;
  text-align: center;
  position: static;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer i {
  transition: 1s ease;
}

footer i:hover {
  transform: rotate(360deg);
}

/* MEDIA QUERIES -------------------------------------- */
@media only screen and (max-width: 800px) {
  #bookTileContainer {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: auto;
    padding-bottom: 200px;
    /* border: 1px red solid; */
  }
}

@media only screen and (max-width: 600px) {
  #bookTileContainer {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: auto;
    padding-bottom: 200px;
    /* border: 1px red solid; */
  }
}

@media only screen and (max-width: 400px) {
  #bookTileContainer {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: auto;
    padding-bottom: 200px;
    /* border: 1px red solid; */
  }
}
